

.alert{
    position: relative;
    margin-top: 1%;
    padding-top:0.01vh;
    padding-bottom: 0.01vh;
    text-align: left;
    /* min-width: auto; */
    font-size: 11px;
    color: crimson;
    font-weight: bold;
    margin-bottom: 1%;
}
.alerts{

    top: 1%;
}
