
.register{

    position: absolute;
    text-align: center;
    min-width: 450px;
    top:15vh;
    left: 50vw;
    transform: translate(-50%,0%);
    padding: 50px;
    border: 2px solid cadetblue;
    border-radius: 20px;
}
.form-control {
    position: relative;
    margin-top: 20px;
  }
  .button {
    margin-top: 20px;
  }